In [2]:
import numpy as np
import pandas as pd
import chardet
import re

In [3]:
#Se define la ruta de la información.
data_propiedades = "../Data/properati.csv"

In [4]:
#Leemos los datos del archivo
data = pd.read_csv(data_propiedades, sep=",", encoding="UTF-8")

In [5]:
#Chequeamos que los datos se hayan importado correctamente
data.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

<strong>Renombro la columna Unnamed: 0 como Index, podría ser codigo de propiedad.</strong>

In [26]:
data.rename(columns={'Unnamed: 0': "Index"}, inplace=True)
data.head(3)

,Index,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [7]:
data.dtypes

Index                           int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [28]:
valores = pd.DataFrame(data, columns=['Index','country_name','state_name','place_name','price','currency', 'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2'])
valores.head()

,Index,country_name,state_name,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2
0,0,Argentina,Capital Federal,Mataderos,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000
1,1,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,NaN
2,2,Argentina,Capital Federal,Mataderos,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909
3,3,Argentina,Capital Federal,Liniers,95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,NaN
4,4,Argentina,Buenos Aires Costa Atlántica,Centro,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429

In [9]:
valores['usdtolocal'] = valores.price_aprox_local_currency / valores.price_aprox_usd
cambio_usd = valores.usdtolocal.max()
cambio_usd

17.6445

In [10]:
check_change = valores.usdtolocal == 17.6445

print(f'Son todos igual a 17.6445: {all(check_change)}')

print(f'Porque muchos valores son NaN: {any(valores.usdtolocal.isnull())}')

Son todos igual a 17.6445: False
Porque muchos valores son NaN: True

<p>Con este ultimo paso verifique que el tipo de cambio NO siempre es el mismo, hay que revisar ya que no siempre "$ 17.6445 = 1 USD"</p>
<p>Parece que tenemos muchos valores NaN</p>

Revisando tenemos <u>Price</u> y <u>Price_aprox_usd</u> que parecen ser lo mismo ¿? vamos a tratar de compararlos.

In [11]:
# revisar price contra price_aprox_usd
check_prices_usd = valores.price == valores.price_aprox_usd
print(all(check_prices_usd))
print(any(valores.price.isnull())) # Hay precios que son Nulos.

False
True

Con esto detectamos que el precio y precio aproximado parecen no ser lo mismo tampoco.

In [12]:
check_prices_inlocal = valores.price == valores.price_aprox_local_currency
any(check_prices_inlocal)

True

El ultimo analisis me dice que la columna price puede estar en Pesos o Dolares. <strong>OJO</strong>

<h2>Inicio el analisis nuevamente</h2>

No tome en cuenta los NaN para realizar los calculos.

In [13]:
print(valores.count() / valores.isnull().count())
print(valores.shape[0])

Index                         1.000000
place_name                    0.999810
price                         0.831628
currency                      0.831620
price_aprox_local_currency    0.831628
price_aprox_usd               0.831628
surface_total_in_m2           0.675565
surface_covered_in_m2         0.835778
price_usd_per_m2              0.566053
price_per_m2                  0.723131
usdtolocal                    0.831620
dtype: float64
121220

El que parece tener menos datos es "price_per_m2"

In [14]:
valores_limpios = valores.dropna()

print(valores_limpios.count() / valores_limpios.isnull().count())
print(valores_limpios.shape[0])

Index                         1.0
place_name                    1.0
price                         1.0
currency                      1.0
price_aprox_local_currency    1.0
price_aprox_usd               1.0
surface_total_in_m2           1.0
surface_covered_in_m2         1.0
price_usd_per_m2              1.0
price_per_m2                  1.0
usdtolocal                    1.0
dtype: float64
63332

In [15]:
print(round((valores_limpios.shape[0] / valores.shape[0]), 2))

0.52

Se deberían eliminar el 48% de los datos? Vamos a ver cuantas monedas tenemos, y ver si se puede hacer el calculo de nuevo de datos faltantes.

In [16]:
valores.currency.value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

Calculo el precio final en USD por lo que genero una nueva variable y calculo.

In [17]:
#Usamos la funcion Lambda

valores['price_usd']= valores.apply(lambda x: x['price']  if x['currency'] == 'USD' else (x['price'] * cambio_usd if x['currency'] == 'ARS' else np.NaN), axis=1)
valores.head()

,Index,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,usdtolocal,price_usd
0,0,Mataderos,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,17.6445,62000.0
1,1,La Plata,150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,NaN,17.6445,150000.0
2,2,Mataderos,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,17.6445,72000.0
3,3,Liniers,95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,NaN,17.6445,95000.0
4,4,Centro,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429,17.6445,64000.0

In [18]:
por_currency = valores.groupby('currency')

In [19]:
#Ojo que lo que estoy viendo son todos precios en USD por la conversion que hice. 
por_currency.price_usd.count()

currency
ARS    13219
PEN        0
USD    87587
UYU        0
Name: price_usd, dtype: int64

<strong>Tengo elimiar del dataframe los registros de PEN y UYU</strong>

In [20]:
valores_currency = valores.dropna(subset=['price_usd']).groupby('currency')
valores_currency.price_usd.count()

currency
ARS    13219
USD    87587
Name: price_usd, dtype: int64

In [21]:
new_valores = valores.dropna(subset=['price_usd'])


new_valores.count() / new_valores.isnull().count()

Index                         1.000000
place_name                    0.999772
price                         1.000000
currency                      1.000000
price_aprox_local_currency    1.000000
price_aprox_usd               1.000000
surface_total_in_m2           0.683154
surface_covered_in_m2         0.869591
price_usd_per_m2              0.680684
price_per_m2                  0.869571
usdtolocal                    1.000000
price_usd                     1.000000
dtype: float64

In [22]:
prices = pd.DataFrame(new_valores, columns=['Index','place_name','price','currency', 'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2', 'surface_covered_in_m2', 'price_per_m2', 'price_usd'])
prices.head()

,Index,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_per_m2,price_usd
0,0,Mataderos,62000.0,USD,1093959.0,62000.0,55.0,40.0,1550.000000,62000.0
1,1,La Plata,150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,150000.0
2,2,Mataderos,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,72000.0
3,3,Liniers,95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,95000.0
4,4,Centro,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,64000.0

In [23]:
prices['price_m2'] = prices.price_usd / prices.surface_covered_in_m2

In [24]:
prices.count() / prices.isnull().count()

Index                         1.000000
place_name                    0.999772
price                         1.000000
currency                      1.000000
price_aprox_local_currency    1.000000
price_aprox_usd               1.000000
surface_total_in_m2           0.683154
surface_covered_in_m2         0.869591
price_per_m2                  0.869571
price_usd                     1.000000
price_m2                      0.869591
dtype: float64

In [25]:
prices.head()

,Index,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_per_m2,price_usd,price_m2
0,0,Mataderos,62000.0,USD,1093959.0,62000.0,55.0,40.0,1550.000000,62000.0,1550.000000
1,1,La Plata,150000.0,USD,2646675.0,150000.0,NaN,NaN,NaN,150000.0,NaN
2,2,Mataderos,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,72000.0,1309.090909
3,3,Liniers,95000.0,USD,1676227.5,95000.0,NaN,NaN,NaN,95000.0,NaN
4,4,Centro,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,64000.0,1828.571429