<h1>Desarrollo del Desafio 1</h1>

<p>La inmobiliaria Properati publica periódicamente información sobre ofertas de propiedades para venta y alquiler. Ud. deberá asesorar a la inmobiliaria a desarrollar un modelo de regresión que permita predecir el precio por metro cuadrado de una propiedad. El objetivo             
final es que el modelo que desarrollen sea utilizado como tasador automático a ser aplicados a las próximas propiedades que sean comercializadas por la empresa. Para ello la empresa le provee de un dataset correspondiente al primer semestre de 2017.</p>

El dataset es de tamaño entre pequeño y mediano, pero tiene dos complejidades a las que deberá prestarle atención:
 
<ul>
    <li>Peso de missing data en algunas variables relevantes.</li>
    <li>Será importante tener en cuenta el problema de la influencia espacial en los precios por metro cuadrado. En efecto, es probable que existan diferencias importantes de en las diferentes geografías, barrios y zonas analizadas.</li>
</ul>

<h2>Objetivos:</h2>

<ul>
    <li>Efectuar una limpieza del dataset provisto. Particularmente, deberá diseñar estrategias para lidiar con los datos perdidos en ciertas variables.</li>
    <li>Realizar un análisis descriptivo de las principales variables.</li>
    <li>Crear nuevas columnas a partir de las características dadas que puedan tener valor predictivo.</li>
</ul>

<h2>Paso a paso:</h2>

1. AED Análisis exploratorio (para hacer/mirar este finde): ver qué tipo de datos tiene el dataset, qué datos numéricos/texto hay y cualquier cosa que se nos ocurra que podamos resaltar. La columna de descripción quizás tenga los amenities. Sacar cantidad de datos nulos y porcentaje
1. Limpieza: separar las columnas de lugar, verificar que las columnas de precio tengan los tipos correctos, columnas de lat-lon, sacar caracteres especiales de las columnas de texto, sacar signos de monedas, RE para columna de descripción
1. Verificar si hay datos duplicados (qué columnas tomamos en cuenta para esto, hay algún ID?)
1. Datos faltantes: tomar decisiones sobre qué recomponer y qué registros eliminar
1. a) Agrupar y sacar estadísticas: por barrio, por provincia, por m2, qué correlaciones hay entre las variables, qué variables nuevas se pueden sacar o agregar (cotización, por ejemplo)
  b) Es necesario crear variables dummies? (para rent/sell, para tipo de propiedad)
1.  Visualización: elegir gráficos que ilustren los datos

<h3>Importar las librerias que estaremos utilizando.</h3>

In [27]:
import numpy as np
import pandas as pd
import chardet
import re

In [ ]:
# Funcion especial para autodetectar el encoding. La eliminamos porque demora mucho!!!
# def get_encoding_type(csv_path):
#     rawdata = open(csv_path, 'rb').read()
#     result = chardet.detect(rawdata)
#     return result.get('encoding')

In [ ]:
#Se define la ruta de la información.
data_propiedades = "../Data/properati.csv"

In [ ]:
#Leemos los datos del archivo
data = pd.read_csv(data_propiedades, sep=",", encoding="UTF-8")

In [21]:
#Chequeamos que los datos se hayan importado correctamente
data.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [30]:
#Chequeamos cantidad de registros y cantidad de variables
data.shape

(121220, 26)

In [22]:
#Vemos qué tipos de datos tienen los campos
data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

**Cantidad de nulos por columna**

In [ ]:
#Cantidad de nulos por columna
cant_nulos_por_campo = data.apply(lambda x: x.isnull().sum(), axis = 0)
print(cant_nulos_por_campo)

**Porcentaje de nulos por columna**

In [ ]:
cant_registros = data.shape[0]
#print(cant_registros)
#len(data.index) es lo mismo

porc_nulos_por_campo = 100 * cant_nulos_por_campo / cant_registros
print(porc_nulos_por_campo)

**Algunos datos que pueden servir para la limpieza**

In [ ]:
property_type_count = data.property_type.value_counts()
property_type_count

In [ ]:
country_name_count = data.country_name.value_counts()
country_name_count

In [ ]:
#Todos los valores de la columna country_name son Argentina 
#de la columna place_with_parents_name se puede reemplazar Argentina por string vacio

In [37]:
len(data.place_with_parent_names.index)

121220

In [38]:
data.place_with_parent_names.sample(30)

63632            |Argentina|Bs.As. G.B.A. Zona Norte|Tigre|
78534     |Argentina|Bs.As. G.B.A. Zona Sur|Esteban Eche...
104411                 |Argentina|Capital Federal|Belgrano|
9596                |Argentina|Capital Federal|Parque Chas|
53785     |Argentina|Buenos Aires Costa Atlántica|Mar de...
45184     |Argentina|Buenos Aires Costa Atlántica|Mar de...
32324         |Argentina|Capital Federal|Parque Avellaneda|
59465                          |Argentina|Santa Fe|Rosario|
73371     |Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...
16570             |Argentina|Capital Federal|San Cristobal|
17212     |Argentina|Buenos Aires Costa Atlántica|San Be...
99055     |Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...
3011      |Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...
114276    |Argentina|Buenos Aires Costa Atlántica|Mar de...
67613     |Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...
121193                                  |Argentina|Córdoba|
96337     |Argentina|Bs.As. G.B.A. Zona Norte|General Sa...
7480                  |Argentina|Capital Federal|San Telmo|
66147     |Argentina|Bs.As. G.B.A. Zona Sur|Avellaneda|W...
68597     |Argentina|Bs.As. G.B.A. Zona Sur|Ezeiza|Carlo...
79935                          |Argentina|Santa Fe|Rosario|
33896            |Argentina|Buenos Aires Interior|Baradero|
71544     |Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...
5094                            |Argentina|Capital Federal|
25055     |Argentina|Bs.As. G.B.A. Zona Norte|General Sa...
6104                  |Argentina|Capital Federal|Monserrat|
24239     |Argentina|Buenos Aires Costa Atlántica|Mar de...
4030             |Argentina|Bs.As. G.B.A. Zona Norte|Pilar|
918       |Argentina|Bs.As. G.B.A. Zona Oeste|La Matanza...
94286     |Argentina|Bs.As. G.B.A. Zona Norte|Pilar|Mayl...
Name: place_with_parent_names, dtype: object

In [28]:
patron_arg = '^\|Argentina'
#RE busca |Argentina al comienzo del string
patron_arg_regex = re.compile(patron_arg)

In [41]:
#creo una variable nueva para hacer el apply y el remplazo "|Argentina" por string vacio 
place_parent_name_sin_arg = serie_place_with_parent_names.apply(lambda x: patron_arg_regex.sub("",x))

In [40]:
place_parent_name_sin_arg.sample(30)

59212                |Buenos Aires Costa Atlántica|Miramar|
20944             |Bs.As. G.B.A. Zona Norte|Tigre|Nordelta|
78537                                    |Chubut|Escalante|
75534     |Bs.As. G.B.A. Zona Sur|Lomas de Zamora|Lomas ...
106707                                            |Córdoba|
22148          |Buenos Aires Costa Atlántica|Mar del Plata|
73085     |Bs.As. G.B.A. Zona Sur|Lomas de Zamora|Banfield|
95211                                    |Santa Fe|Rosario|
105442                                |Tucumán|Yerba Buena|
2371              |Bs.As. G.B.A. Zona Norte|Tigre|Nordelta|
101143         |Buenos Aires Costa Atlántica|Mar del Plata|
58272     |Buenos Aires Costa Atlántica|Mar del Plata|Ce...
114742                                    |Córdoba|Córdoba|
98660                          |Capital Federal|Colegiales|
4986                                     |Santa Fe|Rosario|
43858        |Bs.As. G.B.A. Zona Norte|San Isidro|Martínez|
35559                                     |Córdoba|Córdoba|
80741     |Bs.As. G.B.A. Zona Sur|Lomas de Zamora|Lomas ...
46294      |Bs.As. G.B.A. Zona Norte|San Isidro|San Isidro|
28872     |Bs.As. G.B.A. Zona Sur|Esteban Echeverría|Cou...
11199                                     |Córdoba|Córdoba|
101969    |Buenos Aires Costa Atlántica|Mar del Plata|Pl...
119548    |Bs.As. G.B.A. Zona Norte|General San Martín|V...
40991           |Bs.As. G.B.A. Zona Norte|Pilar|Boca Ratón|
86399         |Bs.As. G.B.A. Zona Norte|Escobar|Septiembre|
80747                           |Capital Federal|San Telmo|
45106                 |Bs.As. G.B.A. Zona Oeste|Hurlingham|
88517     |Bs.As. G.B.A. Zona Sur|Esteban Echeverría|Can...
64489     |Bs.As. G.B.A. Zona Norte|Vicente López|La Luc...
117876                             |Capital Federal|Flores|
Name: place_with_parent_names, dtype: object

In [ ]:
#De lo que queda en esta serie, hay que ver cómo separar la última localidad, 
# algunas tienen tres partes (4 pipes), otras tienen solo 2 (3 pipes)